@namespace Microsoft.AspNetCore.Components

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeView>
                    <Authorized>
                        @*<RouteView RouteData="@routeData" />*@
                        <p>已经登陆</p>
                    </Authorized>
                    <NotAuthorized>
                        <Login/>
                    </NotAuthorized>
                </AuthorizeView>
            @*<RouteView RouteData="@routeData"/>*@
            @*<Login />*@
        </Found>
        <NotFound>
            <p>页面未找到</p>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
