/*本CSS文件为组件模板中的子元素提供默认样式*/

* 
{
    box-sizing: border-box
}
.TilesFather    /*容纳所有磁贴的父容器的样式*/
{
    display:flex;
    flex-wrap:wrap;
}

.TilesSon   /*容纳单个磁贴的子容器的样式*/ 
{
    margin:0.25rem
}

.TilesButton /*磁贴按钮的样式*/ 
{
    padding: 1.5rem 4.5rem;
    background: none;
    border: none;
}
