@namespace Microsoft.AspNetCore.Components
@using System.NetFrancis.Http
@using System.NetFrancis
@using System.Net.Http
@using System.DataFrancis
@using Microsoft.JSInterop
@using System.Net.Http.Headers
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Components.Controller
@inject IJSWindow JSWindow
@inject UriFrancis UriFrancis
@inject AspNetCore.Routing.LinkGenerator LinkGenerator

<input type="text" value="@UID" />
<input type="text" value="@PWD" />
<button @onclick="aaa">提交</button>
<p>@Json</p>

@code
{
    //这个组件用于登录
    private string UID { get; set; } = "aaa";
    private string PWD { get; set; } = "bbb";
    private string? Json { get; set; }
    private async Task aaa()
    {
        var b = new HttpRequestRecording()
        {
            Uri = UriFrancis with
            {
                UriExtended = this.LinkGenerator.GetPathByAction<AuthenticationController>(nameof(AuthenticationController.Login))
            },
            Header = new() { Authentication = new("aaa", "bbb") },
        };
        var x = await CreateNet.HttpClient.SendAsync(b);
    }
}
