@page "/"
@namespace Microsoft.AspNetCore
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>测试Blazor</title>
    <base href="~/" />
    <link href="css/Text.css" rel="stylesheet" />
    <link href="_content/ToolRazor/css/DefaultStyle.css" rel="stylesheet"/>
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
